<!DOCTYPE NETSCAPE-Bookmark-file-1>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<TITLE>Bookmarks</TITLE>
<H1>Bookmarks</H1>
<DL><p>
{%- for entity in entities %}
    <DT><A HREF="{{ entity.uri }}" ADD_DATE="{{ entity.created_at }}"
        {%- if entity.last_modified %} LAST_MODIFIED="{{ entity.last_modified }}"{% endif -%}
        {%- if entity.tags %} TAGS="{{ entity.tags }}"{% endif -%}
        {%- if entity.shared is not none %} PRIVATE="{{ "0" if entity.shared else "1" }}"{% endif -%}
        {%- if entity.to_read is not none %} TOREAD="{{ "1" if entity.to_read else "0" }}"{% endif -%}
        {%- if entity.is_feed is not none %} FEED="{{ "true" if entity.is_feed else "false" }}"{% endif -%}
        {%- if entity.last_visited_at %} LAST_VISIT="{{ entity.last_visited_at }}"{% endif -%}
    >{{ entity.title }}</A>
{%- if entity.extended %}
    <DD>{{ entity.extended }}
{%- endif %}
{%- endfor %}
</DL><p>
